a {
  color: #333;
}
.wrapper {
  font-size: 1.2rem;
}
.container {
  margin: 0 0 2rem;
}
.container__title::before,
.container__title .fa {
  display: none;
}
.job__title {
  margin-top: 2rem;
}
.job__company {
  display: inline;
  font-size: 1em;
}
.job__company::before {
  content: '- ';
}
.job__date {
  display: inline;
  float: right;
  width: 12rem;
  font-size: 1.2rem;
}
.job__description {
  margin-bottom: 4rem;
}
